:root {
  --white: rgb(255, 253, 251);
  --brown: rgb(244, 238, 230);
  --red: rgb(255, 49, 49);
  --lightred: rgba(255, 49, 49, 0.6);
  --black: rgb(50, 50, 50);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* PRE-NAV */

.pre_nav {
  justify-content: center;
  background-color: var(--white);
  display: flex;
  height: 10em;
  margin: 0;
  padding: 0;
  min-width: 100%;
}

.pre_nav img {
  margin-top: 1em;
  height: 70%;
}

/* NAVBARS */

.bottom-navbar {
  background-color: var(--red);
  border-radius: 1.2em;
  height: 3em;
  left: 5%;
  position: absolute;
  top: 8.4em;
  width: 90%;
  z-index: 1000;
}

.top-navbar {
  backdrop-filter: blur(0.4em);
  background-color: var(--red);
  height: 3.5em;
  left: 0;
  opacity: 0.8;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.nav .logo {
  background-color: var(--white);
  border-radius: 50%;
  -webkit-box-shadow: 0px 10px 34px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 34px -11px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 34px -11px rgba(0, 0, 0, 0.75);
  height: 80px;
  left: 50%;
  margin-top: -1em;
  overflow: hidden;
  position: absolute;
  transform: translateX(-50%);
  width: 80px;
}

.nav .logo:hover {
  transform: translateX(-50%) scale(1.2);
}

.nav img {
  width: 100%;
}

.nav_container {
  display: flex;
}

.nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 50%;
}

.bottom-navbar li {
  height: 100%;
  padding-top: 0.6em;
  width: 200px;
}

.top-navbar li {
  height: 100%;
  padding-top: 0.8em;
  width: 200px;
}

.nav li:hover,
.nav li:focus {
  background-color: rgb(248, 103, 103);
}

.nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.hamburger {
  display: none;
  position: absolute;
  right: 1em;
  top: 0.5em;
  cursor: pointer;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: var(--white);
  margin: 6px 0;
  transition: 0.4s;
}

.animate1 {
  transform: rotate(45deg) translate(0.55em, 0.45em);
}

.animate2 {
  opacity: 0;
}

.animate3 {
  transform: rotate(-45deg) translate(0.3em, -0.3em);
}

@media (max-width: 992px) {
  .nav .logo {
    display: none;
  }
}

@media (max-width: 768px) {
  .nav_container {
    background-color: var(--red);
    border-radius: 1.2em;
    display: none;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
    width: 100%;
  }

  .nav ul {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .nav li {
    padding: 0.5em;
    width: 100%;
  }

  .hamburger {
    display: block;
  }
}

.active {
  display: flex !important;
}

/* HERO */

.hero {
  background-image: url(src/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 0;
  padding-bottom: 50%;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

/* .hero img {
  width: 100%;
} */

.hero-text {
  color: var(--red);
  left: 2em;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
}

.hero-title {
  font-size: 1.3rem;
  width: 100%;
}

@media (min-width: 576px) {
  /* Small devices (576px and up) */
  .hero-title {
    font-size: 2rem;
  }

  .hero-paragraph {
    font-size: 1.1rem;
  }
}

@media (min-width: 768px) {
  /* Medium devices (768px and up) */
  .hero-title {
    font-size: 3rem;
  }

  .hero-paragraph {
    font-size: 1.2rem;
  }
}

@media (min-width: 992px) {
  /* Large devices (992px and up) */
  .hero-title {
    font-size: 3.5rem;
  }

  .hero-paragraph {
    font-size: 1.3rem;
  }
}

@media (min-width: 1200px) {
  /* Extra large devices (1200px and up) */
  .hero-title {
    font-size: 4rem;
  }

  .hero-paragraph {
    font-size: 1.4rem;
  }
}

/* SPECIALITIES */

.specialities {
  background-color: var(--brown);
  min-height: 40vh;
}

.specialities h2 {
  left: 25%;
  padding-top: 0.5em;
  position: relative;
}

.specialities i {
  color: var(--red);
}

/* ABOUT ME */
.aboutme {
  background-image: url(src/aboutme_xl.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  padding: 0;
  width: 100%;
}

@media (max-width: 1200px) {
  .aboutme {
    background-image: url(src/aboutme_lg.jpg);
  }
}

@media (max-width: 992px) {
  .aboutme {
    background-image: url(src/aboutme_md.jpg);
  }
}

@media (max-width: 768px) {
  .aboutme {
    background-image: url(src/aboutme_sm.jpg);
    background-position: center;
  }
}

/* SERVICES */

.album {
  background-color: var(--brown);
}

.album .card {
  background: none;
  border: none;
  margin-bottom: 2em;
  width: 90%;
}

.card img {
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
}

.album .card:hover {
  background-color: var(--lightred);
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.3s ease;
  z-index: 100;
}

/* REVIEWS */

#reviewCarousel {
  background-color: var(--white);
  min-height: 18em;
}

.carousel-inner {
  margin: 0 auto;
  width: 80%;
}

.carousel-item .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 1200px) {
  .carousel-item i {
    font-size: 2em;
  }
}

.carousel-control-prev,
.carousel-control-next {
  width: 10%;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-indicators [data-bs-target] {
  background-color: black;
}

/* CONTACT */

.contact .col {
  background-color: var(--brown);
}

.contact ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contact li {
  margin: 1em;
}

.contact p {
  margin: 0;
  padding: 1em;
}
