@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --white: rgb(255, 253, 251);
  --brown: rgb(244, 238, 230);
  --red: rgb(255, 49, 49);
  --lightred08: rgba(255, 49, 49, 0.8);
  --lightred06: rgba(255, 49, 49, 0.6);
  --black: rgb(50, 50, 50);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.brown-back {
  background-color: var(--brown);
}

body {
  background-color: var(--white);
  overflow-x: hidden;
}

.border-bottom {
  border-color: black !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

p,
li {
  font-family: "Open-sans", sans-serif;
}

p {
  font-size: calc(15px + 0.390625vw);
  text-align: justify;
}

.row i {
  color: var(--red);
}

/* PRE-NAV */

.pre-nav {
  justify-content: center;
  background-color: var(--white);
  display: flex;
  height: 10em;
  margin: 0;
  padding: 0;
  min-width: 100%;
}

.pre-nav img {
  margin-top: 1em;
  height: 70%;
}

/* NAVBARS */

.bottom-navbar {
  background-color: var(--red);
  border-radius: 1.2em;
  height: 3em;
  left: 5%;
  line-height: 1.5em;
  position: absolute;
  top: 8.4em;
  width: 90%;
  z-index: 1000;
}

.top-navbar {
  backdrop-filter: blur(0.4em);
  background-color: var(--lightred08);
  height: 3em;
  left: 0;
  line-height: 1.5em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar .logo {
  background-color: var(--white);
  border-radius: 50%;
  -webkit-box-shadow: 0px 10px 34px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 34px -11px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 34px -11px rgba(0, 0, 0, 0.75);
  height: 4.5rem;
  left: 50%;
  overflow: hidden;
  position: absolute;
  transform: translateX(-50%);
  width: 4.5rem;
}

.navbar .logo:hover {
  transform: translateX(-50%) scale(1.2);
}

.navbar img {
  width: 100%;
}

.nav-item.dropdown li {
  width: 100%;
}

.navbar-nav li:hover {
  background-color: var(--black);
}

.dropdown-menu.show {
  background-color: var(--red);
  padding: 0;
  margin-top: -0.3em;
}

nav .dropdown-item {
  color: var(--white);
}

nav a.dropdown-item:hover {
  background-color: var(--brown);
}

.nav-link {
  color: var(--white);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show,
.nav-link:focus,
.nav-link:hover {
  color: var(--white);
}

.navbar-nav li {
  width: 33%;
}

/* desktop */
@media (min-width: 993px) {
  .home__button {
    display: none;
  }
  .navbar-collapse {
    display: flex;
    justify-content: space-between;
  }

  .navbar__left,
  .navbar__right {
    width: 45%;
  }

  .navbar__left-ul li,
  .navbar__right-ul li {
    width: 35%;
  }

  .navbar__left-ul,
  .navbar__right-ul {
    justify-content: space-evenly;
  }

  .navbar-nav li {
    line-height: 2em;
  }

  .bottom-navbar .navbar__left li:nth-child(2):hover {
    border-top-left-radius: 1.2em;
    border-bottom-left-radius: 1.2em;
  }

  .bottom-navbar .navbar__right li:nth-child(3):hover {
    border-top-right-radius: 1.2em;
    border-bottom-right-radius: 1.2em;
  }
}

/* tablet */
@media (min-width: 769px) and (max-width: 992px) {
  .navbar .logo {
    display: none;
  }

  .navbar__left {
    width: 55%;
  }

  .navbar__right {
    width: 45%;
  }

  .navbar__left-ul,
  .navbar__right-ul {
    justify-content: space-around;
    font-size: 0.85rem;
  }

  .navbar-nav li {
    line-height: 2.35em;
  }

  .bottom-navbar .navbar__left li:nth-child(1):hover {
    border-top-left-radius: 1.2em;
    border-bottom-left-radius: 1.2em;
  }

  .bottom-navbar .navbar__right li:nth-child(4):hover {
    border-top-right-radius: 1.2em;
    border-bottom-right-radius: 1.2em;
  }
}

/* phone (dropdown) */
@media (max-width: 768px) {
  .navbar .logo {
    display: none;
  }

  .navbar-collapse {
    background-color: var(--black);
    border-radius: 0 0 1.2em 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .nav-item.dropdown {
    width: 100%;
  }

  .dropdown-menu {
    background-color: rgb(255, 91, 91);
    text-align: center;
    font-size: 0.8rem;
  }

  .navbar__left,
  .navbar__right {
    width: 100%;
  }

  .navbar__left-ul,
  .navbar__right-ul {
    font-size: 0.85rem;
  }

  li.nav-item {
    width: 100%;
  }

  li.nav-item:hover {
    cursor: pointer;
    background-color: rgb(255, 91, 91);
  }

  .navbar__right li:nth-child(3):hover {
    border-bottom-right-radius: 1.2em;
    border-bottom-left-radius: 1.2em;
  }
}

/* HERO */

.hero {
  background-image: url(../src/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 50%;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

/* .hero img {
  width: 100%;
} */

.hero-text {
  color: var(--red);
  left: 2em;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
}

.hero-title {
  font-size: 1.3rem;
  width: 100%;
}

@media (min-width: 576px) {
  /* Small devices (576px and up) */
  .hero-title {
    font-size: 2rem;
  }

  .hero-paragraph {
    font-size: 1.1rem;
  }
}

@media (min-width: 768px) {
  /* Medium devices (768px and up) */
  .hero-title {
    font-size: 3rem;
  }

  .hero-paragraph {
    font-size: 1.2rem;
  }
}

@media (min-width: 992px) {
  /* Large devices (992px and up) */
  .hero-title {
    font-size: 3.5rem;
  }

  .hero-paragraph {
    font-size: 1.3rem;
  }
}

@media (min-width: 1200px) {
  /* Extra large devices (1200px and up) */
  .hero-title {
    font-size: 4rem;
  }

  .hero-paragraph {
    font-size: 1.4rem;
  }
}

/* SPECIALITIES */

.specialities {
  background-color: var(--brown);
  min-height: 40vh;
}

.specialities h2 {
  left: 25%;
  padding-top: 0.5em;
  position: relative;
}

.specialities i {
  color: var(--red);
}

.specialities img {
  width: 80px;
  height: 80px;
}

.justy {
  text-align: justify;
  text-justify: inter-word;
}

/* ABOUT ME */
.aboutme {
  background-image: url(../src/aboutme_xxl_mod.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  padding-bottom: 50%;
}

.aboutme .hero-paragraph {
  background-color: aqua;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
}

/* SERVICES */

.album {
  background-color: var(--brown);
}

.album a {
  text-decoration: none;
}

.album .card {
  background: none;
  border: none;
  margin-bottom: 2em;
  width: 90%;
}

.card img {
  border-radius: 0.375rem;
}

.album .card:hover {
  background-color: var(--lightred06);
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.3s ease;
  z-index: 100;
  -webkit-box-shadow: 14px 21px 48px -24px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 14px 21px 48px -24px rgba(0, 0, 0, 0.75);
  box-shadow: 14px 21px 48px -24px rgba(0, 0, 0, 0.75);
}

/* REVIEWS */

.carousel {
  background-color: var(--white);
}

.carousel-inner {
  margin: 0 auto;
  width: 80%;
}

.carousel-item .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 1200px) {
  .carousel-item i {
    font-size: 2em;
  }
}

.carousel-control-prev,
.carousel-control-next {
  width: 10%;
}

/* CONTACT */

.contact .col-md-6 {
  background-color: var(--brown);
}

.contact ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contact li {
  margin: 1em;
}

.contact p {
  margin: 0;
  padding: 1em;
}

.contact i {
  color: var(--red);
}
