:root {
  --white: rgb(255, 253, 251);
  --brown: rgb(244, 238, 230);
  --red: rgb(255, 49, 49);
  --lightred08: rgba(255, 49, 49, 0.8);
  --lightred06: rgba(255, 49, 49, 0.6);
  --black: rgb(50, 50, 50);
}

.brown-back {
  background-color: var(--brown);
}

p {
  text-align: justify;
}

@media (min-width: 769px) {
  .img_varandossag_left {
    position: absolute;
    max-width: 50%;
    left: 3em;
    z-index: 10;
  }

  .img_varandossag_right {
    position: absolute;
    max-width: 50%;
    top: 2em;
    right: 3em;
  }

  .wrapper {
    height: 300px;
  }
}

@media (min-width: 993px) {
  .img_varandossag_3 {
    position: absolute;
    max-width: 50%;
    left: 3em;
    z-index: 10;
  }

  .img_varandossag_4 {
    position: absolute;
    max-width: 50%;
    top: 2em;
    right: 3em;
  }

  .wrapper {
    height: 380px;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    height: 450px;
  }
}

@media (min-width: 1400px) {
  .wrapper {
    height: 500px;
  }
}
